.search-bar-container {
    border-bottom: 1px solid #3333;
    height: 80px;
    /* line-height: 70px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: #ffffff; */
}

.logos {
    height: 50px;
}

.camera-image {
    width: 50px;
    padding: 20px;
    border-right: 1px solid black;
}

.logo-image {
    height: 50px;
}

.social-container {
    display: flex;
    /* width: 500px; */
    height: 100%;
}

.social {
    width: 20px;
    height: 20px;
}