
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-name {
    margin: 10px 3%;
    width: 35%;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}

.login-pass {
    margin: 10px 3%;
    width: 35%;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}

.login-form button {
    margin: 10px 3%;
    width: 35%;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}

.login-form button:hover {
    background-color: #d3d3d3;
}